<div ng-controller="SecondFactorCtrl" class="block-center mt-xl wd-xl">
    <!-- START panel-->

    <div class="pt-xl pb-xl text-center">
        <a href="#">
            <img src="images/logo/app/logo.png" alt="Image" class="block-center img-rounded"/>
        </a>
    </div>
    <div class="panel panel-flat">
        <div class="panel-body">
            <p class="text-bold">Двухэтапная идентификация</p>
            <div class="deliverymethodcontainer">
                <span id="verifyText">
                    <span class="deliverytype">
                        Введите проверочный код, сгенерированный с помощью мобильного приложения.
                    </span>
                </span>
            </div>

            <form role="form" ng-submit="login()" validate-form="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    <input type="tel" autocomplete="off" ng-model="account.verify_code" ui-mask="999 999" required="required" class="form-control"/>
                    <span class="fa fa-mobile-phone form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="remember" ng-model="account.remember_device"/>
                            <span class="fa fa-check"></span>Запомнить код на этом устройстве</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Подтвердить</button>
            </form>
            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br/>
        <span ng-bind="app.description"></span>
    </div>
</div>
